.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.underNavigation{
    display: block;
    padding: 8px;
    background-color: #ffc90e;
    color: black;
}

body{
    background-color: #16610e;
}