.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

.underNavigation{
    display: block;
    padding: 8px;
    background-color: #ffc90e;
    color: black;
}

body{
    background-color: #16610e;
}

#home:hover{
    background-color: black;
    color: #ffc90e;
}
#register:hover{
    background-color: black;
    color: #ffc90e;
}
#aboutus:hover{
    background-color: black;
    color: #ffc90e;
}
#contactus:hover{
    background-color: black;
    color: #ffc90e;
}
#login:hover{
    background-color: black;
    color: #ffc90e;
}

#home{
    color: black;
}
#register{
    color: black;
}
#login{
    color: black;
}
#aboutus{
    color: black;
}
#contactus{
    color: black;
}