@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Sans&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Sans&family=Poltawski+Nowy:wght@500&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
    margin: auto;
    align-self: center;
    align-content: center;
    align-items: center;
}

.underNavigation{
    font-family: 'Josefin Sans';
    font-size: 1.5rem;
    display: inline;
    padding: 8px;
    background-color: #ffc90e;
    color: black;

}

.headHolder{
    background-color: #16610e;
}

#home:hover{
    background-color: black;
    color: #ffc90e;
}
#register:hover{
    background-color: black;
    color: #ffc90e;
}
#aboutus:hover{
    background-color: black;
    color: #ffc90e;
}
#contactus:hover{
    background-color: black;
    color: #ffc90e;
}
#login:hover{
    background-color: black;
    color: #ffc90e;
}

#home{
    color: black;
}
#register{
    color: black;
}
#login{
    color: black;
}
#aboutus{
    color: black;
}
#contactus{
    color: black;
}

.heading{
    color: antiquewhite;
    font-family: 'Rowdies';
    font-size: 3rem;
    text-align: center;
}

.subtitle{
    color:darksalmon;
    font-family: 'Gloria Hallelujah';
    font-size: 2rem;
    text-align: center;
}

.red-bulletin{
    background-color: #f66d6b;
    color: black;
}

h3{
    font-family: 'Poltawski Nowy';
    font-size: 19px;
    color: black;
}

.text{
    font-size: 16px;
    font-family: 'Patrick Hand';
    color:black;
}

body{
    background-color:coral;
}